<a href="{{ .URL }}">
<div class="featured-methods-single col-sm-6 col-md-12">
  <div class="thumbnail">
    <img src="/methods/{{ .Params.header.thumbnail }}" alt="{{ .Params.short_title }}" title="{{ .Params.header.summary }}">
    <div class="media-body">
      <h3>{{ .Title }}</h3>
      {{ .Params.header.summary }}
    </div>
  </div>
</div>
</a>