<div class="col-md-12 col-sm-12 col-xs-12 supporter-single"> 
    <div class="supporter-body">
        <h3>{{ .Params.name }}</h3>
        <h4 class="team-company">{{ .Params.company }}</h4>
        <p class="team-text">{{ .Params.summary }}</p>
    </div>
</div>