<div class="{{with $.Parent.Get "small" }}col-sm-{{.}}{{end}} {{with $.Parent.Get "medium" }}col-md-{{.}}{{end}} {{with $.Parent.Get "large" }}col-lg-{{.}}{{end}} ">
    <article>
        {{ .Inner | markdownify }}    
    </article>
</div>
