<div class="picture {{with $.Parent.Get "small" }}col-sm-{{.}}{{end}} {{with $.Parent.Get "medium" }}col-md-{{.}}{{end}} {{with $.Parent.Get "large" }}col-lg-{{.}}{{end}}">
  <figure>
      <a href="{{.Site.BaseURL}}{{ with .Page.Params.menu.main.parent}}{{.}}{{end}}/{{ .Get "src" }}" data-lightbox="images" data-title="{{ .Get "caption" }}"><img src="{{.Site.BaseURL}}{{ with .Page.Params.menu.main.parent}}{{.}}{{end}}/{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} /></a>
      {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
      <figcaption>{{ if isset .Params "title" }}
          <h4>{{ .Get "title" }}</h4>{{ end }}
          {{ if or (.Get "caption") (.Get "attr")}}<p>
          {{ .Get "caption" }}
          {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
              {{ .Get "attr" }}
          {{ if .Get "attrlink"}}</a> {{ end }}
          </p> {{ end }}
      </figcaption>
      {{ end }}
  </figure>
</div>