{{ $url := "/home/pa-members-logos" }}
{{ $input := delimit (slice "static" $url) "/" }}
{{ $files := readDir $input }}

<div class="row organisations-shortcode">
    {{ range $files }}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 members-logo">
        <img src="{{$url}}/{{.Name | urlize }}" alt="{{.Name}}">
    </div>
    {{ end }}
</div>
