<a id="myLink" href="javascript:void(0)" onclick="javascript:myRevealButtonClick();">{{ .Get "title" }}</a>

<script>function myRevealButtonClick() { $(".hide-on-click").toggle(); }</script>

<div class="hide-on-click">{{ .Inner | markdownify }}</div>
