{{ if .Get "sidebar" }}
<div class="row {{ with .Get "style" }}{{.}}{{end}}">
    <div class="col-sm-8 col-md-8">
        <article>
            {{ .Inner | markdownify }}
        </article>
    </div>
    <div class="col-sm-4 col-md-4 at-a-glance">
        <aside>
            <h3 class="aside-header" style="text-align:center;">At a Glance</h3>
            <hr>

            {{ if not (eq .Page.Params.companylogo "") }}
            <div class="aside"><img src="/home/{{ .Page.Params.companylogo }}"></div>
            {{ end }}

            {{ range .Page.Params.sidebar }}
            <div class="aside-tool-padding">
                <h4 class="aside-sub-header">{{ .title }}
                </h4>
                <ul>
                    <li>{{delimit .content "</li><li>"}}</li>
                </ul>
            </div>
            {{ end }}
        </aside>
    </div>
</div>

{{else if or (.Get "small") (.Get "medium") (.Get "large")}}
<div class="row {{ with .Get "style" }}{{.}}{{end}}">
    {{ .Inner }}
</div>

{{else}}

<div class="row {{ with .Get "style" }}{{.}}{{end}}">
    <div class="col-sm-12">
        <article>
            {{ .Inner | markdownify }}
        </article>
    </div>
</div>
{{end}}
