<div class="col-md-3 col-sm-6 col-xs-12 team-single"> 
	<div class="thumbnail">
		<img src="/methods/thumbnails/{{ .Params.thumbnail }}">
		<div class="media-body">
			<h3>{{ .Params.name }}</h3>
			<p class="team-company">{{ .Params.company }}</p>
			<p class="team-text">{{ .Params.summary }}</p>
		</div>
	</div>
</div>