<div class="case-studies-single-box">
  <div class="thumbnail">
    <a href="{{ .Permalink }}" class="case-studies-single-box--link">
      <div class="case-studies-single-box--image" style="background-image: url('/blog/{{ .Params.menucontent.image }}');"></div>
    </a>
    <div>
      <a href="{{ .Permalink }}" class="case-studies-single-box--link">
        <h3>{{ .Title }}</h3>
        <p class="company-date">{{ .Params.author }}<br />{{ .Date.Format "01 Jan 2006" }}</p>
        {{ if not (eq .Params.summary "") }}
        <p class="action-description">{{ .Params.summary }}</p>
        {{ end }}
      </a>
    </div>
  </div>
</div>
