{{ partial "header.html" . }}
{{ $site := .Site }}

{{ if .Params.sidebar }}
    <div class="row guide-to-ux-page {{ if .Params.pageclass }}{{ .Params.pageclass }}{{ end }}">
        <div class="col-md-8">
            <h1>{{ .Title }}</h1>
            {{ if .Params.image }}
            <div class="title-image-container">
                <img src="/guide-to-ux/{{ .Params.image }}">
            </div>
            {{ end }}
            <article>
               {{ .Content }}
            </article>
        </div>
        <div class="col-md-4 guide-to-ux-sidebar">
            {{ range .Params.sidebar }}
                <div class="row sidebar-section">
                    <h2>{{ .title }}</h2>
                    {{ if eq .type "case-studies" }}
                        <div class="case-studies-single-boxes case-studies--sm-6 case-studies--md-12">
                            {{range $index, $value := where $site.Pages "Type" "=" "case-studies" }}
                                {{ if .Params.featured }}
                                    {{ .Render "single-box" }}
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="text-center col-xs-12">
                            <a class="btn btn-primary btn-lg" href="/case-studies" role="button">View all case studies</a>
                        </div>
                    {{ end }}
                    {{ if eq .type "methods" }}
                        {{range first 3 ( (where (where $site.Pages "Type" "=" "methods") ".Params.title" "!=" nil).ByDate.Reverse) }}
                            {{ .Render "sidebar-box" }}
                        {{ end }}
                        <div class="text-center col-xs-12">
                            <a class="btn btn-primary btn-lg" href="/methods" role="button">View all UX methods</a>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
{{ else }}
    <div class="row guide-to-ux-page {{ if .Params.pageclass }}{{ .Params.pageclass }}{{ end }}">
        <div class="col-md-12">
            <h1>{{ .Title }}</h1>
            {{ if .Params.image }}
            <div class="title-image-container">
                <img src="/guide-to-ux/{{ .Params.image }}">
            </div>
            {{ end }}
            <article>
               {{ .Content }}
            </article>
        </div>
    </div>
{{ end }}
{{ partial "footer.html" . }}
