<footer class="row topbottom-padding">
  <div class="col-lg-12 col-md-12 text-center">
    <p class="footer-links">
      <a href="{{ .Site.BaseURL }}about/contact/">Contact &amp; Legal Notice</a> | <a href="{{ .Site.BaseURL }}terms-of-use/">Terms of use</a> | <a href="{{ .Site.BaseURL }}privacy-statement/">Privacy Statement</a></p>

    <p class="white-logo"><a href="http://www.pistoiaalliance.org/" target="_blank"><img src="{{ .Site.Params.baseURL }}/static/img/pistoia-alliance-white-on-transparent.png"></a></p>

    <p class="pa-copyright">&copy; Copyright Pistoia Alliance, Inc. {{ now.Format "2006" }}</p>
  </div>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}static/scripts.min.js"></script>
{{ template "_internal/google_analytics.html" . }}
</body>

</html>
