<script>
// https://jsfiddle.net/ko4L5fgu/1/
$(document).ready(function(){

// Add class 'active' on Menu item to pinpoint location
{{ $firstUrlElement := index (split .page.URL "/") 1 }}
  {{ range .menu }}
    // Add styling if in Hompage
    {{ if eq .Identifier "home"}}
      $('.navbar-nav a').filter(function() {
        return $(this).text() == "Home";
      }).css({
        'font-weight' : '700',
        'color' : '#00a1ae',
      });
    {{end}}
    // Add styling if in not in Hompage
    {{ if eq .Identifier $firstUrlElement}}

      $('.navbar-nav a').filter(function() {
        return $(this).text() == {{.Name}};
      }).css({
        'font-weight' : '700',
        'color' : '#00a1ae',
      });
      // Remove style for Homepage if not in homepage
      $('.navbar-nav a').filter(function() {
        return $(this).text() == "Home";
      }).removeAttr( 'style' );

    {{end}}

  {{end}}
  });
</script>
{{ $site := .site }}
<div class="navbar yamm navbar-default">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <!-- <a href="{{ .Site.BaseURL }}" class="navbar-brand">PA UXLS</a> -->
  </div>
  <div id="navbar-collapse-1" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      {{ $currentNode := . }}
      {{ range .menu }}
        {{if .HasChildren}}
          {{ if (eq .Identifier "methods" | or (eq .Identifier "case-studies")) }}  <!-- methods menu, identifier set in site config -->
            <li class="dropdown"><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{else}}
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ .Name }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{ range .Children.ByWeight }}
                <li><a href="{{ .URL }}">{{ .Name }}</a> </li>
                {{ end }}
              </ul>
            </li>
          {{end}}
        {{else}} <!-- Simple single menu item -->
          {{ if not (eq .Name "Tools")}}
            {{ if not (eq .Name "Peoples")}}
                {{ if not (eq .Name "Supporters")}}
                    <li><a href="{{.URL}}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}
          {{ end }}
        {{end}}
      {{end}}

    </ul>
  </div>
</div>
