<!-- overview of case studies -->

{{ partial "header.html" . }}
<div class="row row-eq-height content case-studies-page">
    <div class="col-md-12">
        <h1>Blog</h1>
        <p>Find great blog articles about UX in life sciences, contributed by members of our project team.</p>
    </div>
</div>
<div class="row row-eq-height content ux-in-action-page is-flex">
  <div class="case-studies-single-boxes case-studies--md-6">
    {{range $index, $value := where .Site.Pages "Type" "=" "blog" }}
      {{ if not (eq .Title "blog")}}
        {{ .Render "single-box" }}
      {{ end }}
    {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
