<!-- overview of case studies -->

{{ partial "header.html" . }}
<div class="row row-eq-height content case-studies-page">
    <div class="col-md-12">
        <h1>Case Studies</h1>
        <p>See the UX methods in action with real life sciences examples from our Pistoia Alliance members.</p>
    </div>
</div>
<div class="row row-eq-height content ux-in-action-page is-flex">
  <div class="case-studies-single-boxes case-studies--sm-6">
    {{range $index, $value := where .Site.Pages "Type" "=" "case-studies" }}
      {{ if not (eq .Title "Case-studies")}}
        {{ .Render "single-box" }}
      {{ end }}
    {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
