{{ $ := .root }}
{{ $page := .page }}

{{ with $page.Content }}
  <div class="row widget {{ $page.Params.widget }}">
  	<!-- {{ . | markdownify }} -->
    <h2>UX in Life Sciences Case Studies</h2>
    <div class="case-studies-single-boxes case-studies--sm-6 case-studies--md-4">
      {{range $index, $value := where $page.Site.Pages "Type" "=" "case-studies" }}
        {{ if .Params.featured }}
          {{ .Render "single-box" }}
        {{ end }}
      {{ end }}
    </div>
    <div class="text-center">
      <a class="btn btn-primary btn-lg " href="/case-studies" role="button">View all case studies</a>
    </div>
  </div>
{{ end }}
