{{ $ := .root }}
{{ $page := .page }}

{{ with $page.Content }}
    <div class="row widget {{ $page.Params.widget }}">
            <div class="text-center">
              <a class="btn btn-primary btn-lg " href="about/who-we-are" role="button">Meet the whole team</a>
            </div>
    </div>
{{ end }}
