{{ partial "header.html" . }}
<div class="row hero" {{ with .Params.image }} style="background: url('../{{ . }}') top center no-repeat;background-size: cover;background-position: center;" {{ end }}>
  <div class="hero-legend">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.summary }}</p>
    <h5>
    {{ if .Params.methods }}
        {{ if gt (len .Params.methods) 0 }}
          <div class="tags tags--left tags-dark">
            {{ $Site := .Site }}
            {{ range .Params.methods }}
              {{ with $Site.GetPage "page" "methods" . }}
                    {{ .Render "tag" }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </h5>
    <p class="reading-time">{{ .ReadingTime }} minute read</p>
  </div>
</div>

{{ .Content }}

{{ partial "footer.html" . }}
